body {
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);

}

/* swiper style */

.img-box img {
    max-width: 100%;
}

.slider-container1 .container1 {
    padding: 0 10px;
    max-width: 500px;
    height: 25%;
    margin: 0 auto;
}

.slider-container .container {
    padding: 0 10px;
    height: 50%;
    margin: 0 auto;
}

.review-container .rev-container {
    padding: 0 15px;
    max-width: 250px;
    height: 50%;
    margin: 0 auto;
}

.product-slider {
    padding: 50px 0;
}

#logo-name {
    font-family: 'Croissant One', cursive;
    font-weight: 800;
}